# Bundler
Gemfile.lock
.bundle/
vendor/bundle/

# RuboCop cache
.rubocop-https---*/

# Solargraph
.solargraph.yml
.yardoc/
.yardopts

# SketchUp
*.skb
snapshots/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
*.swp
*~
